.hbmk
*.exe
*.lib
*.a
*.pdb
*.7z
*-lock.json
*.c
*.cpp
*.log
*.txt
*.i
*.ppo
client/server
client/extra
client/test
node_modules
bin
*.obj
obj
*.ilk
settings.json
*.vsix
*.bak
buildLib*.bat
test/.vscode/c_cpp_properties.json
test/operators.prg
test/test30.inc
test/test30.prg
**/dist
**/.VSCodeCounter
testVari

*.exp
*.ppt
trash
**/.clinic
*.cpuprofile
