/client/node_modules
/client/bin
.hbmk
/test/builds
/test/builds.exe
/trash
/client/hb_out.log
/server/test.i
/server/.vscode/settings.json
/test/dbg_ex
/test/dbg_test
/test/libcode_dbg.a
/test/socket
/test/socket.prg
/test/test_code.c
/test/test_code.prg
test/vc120.pdb
test/builds.ilk
test/builds.pdb
test/code_dbg.lib
test/dbg_lib.exe
test/dbg_lib.ilk
test/dbg_lib.pdb
test/dbg_test.exe
test/dbg_test.ilk
test/dbg_test.pdb
test/errors.exe
test/hb_out.log
test/out.txt
client/syntaxes/harbour.tmLanguage
client/npm-debug.log
client/npm-debug.log
test/vc140.pdb
test/dbg_lib
test/test_code
